@model CarRental.Areas.Admin.Models.ViewModel.XeTinhNangViewModel;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>InfoXe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdHang" class="control-label"></label>
                <select id="lstHangId" asp-for="IdHang" class="form-control" asp-items="ViewBag.Hang"
                        onchange="FillLoais(this,'lstLoaiId');"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdLoaiXe" class="control-label"></label>
                <select id="lstLoaiId" asp-for="IdLoaiXe" class="form-control" asp-items="ViewBag.Loai"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdUser" class="control-label"></label>
                <select asp-for="IdUser" class ="form-control" asp-items="ViewBag.User"></select>
            </div>
            <div class="form-group">
                <label asp-for="Bienso" class="control-label"></label>
                <input asp-for="Bienso" class="form-control" />
                <span asp-validation-for="Bienso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soghe" class="control-label"></label>
                <input asp-for="Soghe" class="form-control" />
                <span asp-validation-for="Soghe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Truyendong" class="control-label"></label>
                <input asp-for="Truyendong" class="form-control" />
                <span asp-validation-for="Truyendong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiNl" class="control-label"></label>
                <input asp-for="LoaiNl" class="form-control" />
                <span asp-validation-for="LoaiNl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mota" class="control-label"></label>
                <input asp-for="Mota" class="form-control" />
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <table>
                    @for (int i = 0; i < Model.AvailTinhNang.Capacity; i++)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(x => Model.AvailTinhNang[i].Id)
                                @Html.DisplayFor(it => Model.AvailTinhNang[i].Title)
                            </td>
                            <td>
                                @Html.CheckBoxFor(it => Model.AvailTinhNang[i].IsChecked, new { @class = "form-check-input" })

                            </td>
                        </tr>
                    }
                </table>
               


            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
