@{
    Layout = "~/Views/Shared/_LayoutLoginPage.cshtml";
}
@using CarRental.Areas.Admin.Models
@model CarRental.Areas.Admin.Models.User;


@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
<form >

    

    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="InputPassword" placeholder="Password">
    </div>

    <div class="form-group mb-3">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked="">
            <label class="custom-control-label" for="checkbox-signin">Remember me</label>
        </div>
    </div>

    <div class="form-group mb-0 text-center">
        <button id="login" class="btn btn-primary btn-block" type="submit"> Log In </button>
    </div>

</form>


@section Scripts {
    <script>
        $(document).ready(function () {
            
           

            $("#login").click(function (event) {
                // Ngăn chặn hành vi mặc định của form

                var email = $('#InputEmail').val();
                var pass = $('#InputPassword').val();

                var model = {
                    Email: email,
                    Password: pass
                };

            

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Login","Start")",
                    data: model,
                    success: function (res) {
                        if (res.success) {
                            window.location.href = "@Url.Action("Index", "Home")"; // Chuyển hướng về trang Home/Index
                        } else {
                                                                                
                        }
                    },
                    error: function () {
                        alert("Tài khoản hoặc mật khẩu sai");

                    }
                });
            });

        });

    </script>
}